
<div class='js-clndr-controls clndr-controls col-sm-4 col-sm-offset-5'> 
  <h3> 
    <button class="btn btn-default clndr-previous-button js-previous-month glyphicon glyphicon-chevron-left"> </button>
    
    <%= month %>
     <small> <%= year %> </small>
    <button class="btn btn-default clndr-next-button glyphicon glyphicon-chevron-right"> </button>
   </h3> 
</div>


<!-- <div class='js-clndr-controls clndr-controls col-sm-6 col-sm-offset-3'> 
  <div class='clndr-control-button js-previous-month'>
    <span class="col-sm-2">
    <button class="btn btn-default clndr-previous-button js-previous-month "> previous </button>
    </span>
  </div>


  <div class="js-finish-study finish-study hidden"><button class="btn btn-default"> Finish </button></div>

  <div class='month col-sm-2'><h3> <%= month %> </h3> <%= year %></div>


  <div class='clndr-control-button rightalign'>
<span class="col-sm-2">
   <button class="btn btn-default clndr-next-button"> next</button>
</span>
  </div>

</div> -->


  <button class="btn btn-primary js-event-mode"> Event </button>


<!-- <div class='js-event-controls event-controls col-sm-3 col-sm-offset-5'>
Select a day to add an event.
</div> -->


<table class='clndr-table' border='0' cellspacing='0' cellpadding='0'>
  
  <!-- WEEKDAY HEADER -->
  <thead>  
    <tr class='header-days'>
      <% for(var i = 0; i < daysOfTheWeek.length; i++) { %>
      <td class='header-day'><%= daysOfTheWeek[i] %></td>
      <% } %>
    </tr>
  </thead>

  <!-- CALENDAR -->
  <tbody>
    <% for(var i = 0; i < numberOfRows; i++){ %>
    
    <tr>



      <% for(var j = 0; j < 7; j++){ %>
      <!-- DAYS -->
      <% var d = j + i * 7; %>
      <td class='<%= days[d].classes %>'>

        <div class='day-contents' data-day=<%= days[d].day %> data-test="test">

         
           <span class="day-number pull-right">  <%= days[d].day %> </span>
          <% _.each(days[d].events, function(event){ %>
          
            <% if(event.type == "personal"){ %>
            <span class="event-personal pull-left"> <%= event.title %> </span>
            
            <% } else if(event.type == "alcohol" && event.drinks > 0) { %>
            
            
              <img style=" max-width:100px; margin-top: 2px;" class="alcohol-icon pull-left " src="app/styles/images/alcohol.png">

              <% } %>
              <br>
            
            
            <% if(event.type == "marijuana" && event.use){ %> 
             <img style=" max-width:100px; margin-top: 2px;" class="marijuana-icon pull-left " src="app/styles/images/marijuana.png">

   <!--          <div class="marijuana-icon js-marijuana-icon pull-left"> </div> -->


            <% } %>

           
          

          <% }) %>

        
         </div>


      </td>
      <% } %>


    </tr>
    <% } %>
  </tbody>
</table>"