@blue: #4D6EAB;

.calendar-input {
	z-index: 1000;
	top: 10%;
	position: absolute;
}

.js-marijuana-btn {
	

	.js-yes-marijuana.active, .js-no-marijuana.active {
		background: red !important;

	}
} 

.standard-drink-img {
	border-top: solid gray 1px;
	border-bottom: solid gray 1px;

    height: 232px;
    width: 578px;
    background-image: url('../images/standardDrink.png');
   background-repeat: no-repeat;
}

.drink-btn {
	
	margin: 0 32px 20px 32px;
	border: solid @darkAccent 1px;
	background-color: @blue;
	color: white;
	width: 125px;
}

.marijuana-btn {
		margin: 0 32px 20px 32px;
	border: solid @darkAccent 1px;
	background-color: @blue;
	color: white;
	width: 82px;
    width: 182px;
    font-size: 22px;
    font-weight: 500;

}

.drink-input {
	
	//background: @lightAccent;
}

.marijuana-input {
	margin-top: 17px;

}

.js-decrease-drink {
	
}

.js-increase-drink {
	
}

.js-numberOfDrinks {
	
    font-size: 47px;
    font-weight: 600;

}

.input-header {
	background-color: @blue !important;
	color: white !important;
	    font-size: 22px;
    font-weight: 500;
        padding: 10px 15px;
}

.drinks-label {
	

	font-size: 28px;
    font-weight: 500;

        margin-top: 16px;
    margin-left: 77px;
    margin-right: 17px;


}

.cal-icon {
	font-size: 27px;
}

.marijuana-label {
	    margin-left: 102px;
	    	font-size: 28px;
    font-weight: 500;

        margin-top: 16px;
            margin-right: 97px;
}

.iter-day-btn {
    border-right: solid white 5px;
    border-left: solid white 5px;
    font-size: 17px;
    height: 50px;
    border-radius: 17px;
        background-color: #4D6EAB;
}

.js-calendar-return {
	 height: 50px;
	border-radius: 17px;
	background-color: #4D6EAB;
	font-size: 27px;
}