.navbar,
.navbar-brand,
.navbar-nav li a {
    height: 70px;
    background-color: white;
    border-bottom: solid 2px gray;
}

.user {
	padding: 20px 0px 0px 0px;
	color: @darkAccent;
}
.navbar-header {
	width: 100%;
}

.bch-logo {

    background-image: url('../images/bch_logo.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 144px 65px;
}