.login-wrapper {
    font-size: 18px;
    font-weight: 500;

	.new-participant-panel {
		border-color: @darkAccent !important;
		margin-top: 20%;
		.panel-heading {
			background-color: @darkAccent !important;
			color: #FFFFFF !important;
		}
		.btn-default {
			background-color: @darkAccent !important;
			color: white;
		}
	}

	.login-btn {

	    margin-top: 13px;
	    font-weight: 500;
	    font-size: 17px;
	}
}

.study-wrapper {
	
}
.new-participant-panel {
    font-size: 18px;
    font-weight: 500;

	border-color: @darkAccent !important;
	margin-top: 20%;
	.panel-heading {
		background-color: @darkAccent !important;
		color: #FFFFFF !important;
	}
	.btn-default {
		background-color: @darkAccent !important;
		color: white;
	}


	.study-input-field {

		@media only screen and (max-device-width: 1024px) {
			width: 200px;

		}
	}
}


.admin-table {
	
	margin-top: 20px;
	.js-select-all {
		margin-right: 10px;
	}
	.js-export-selected {
		margin-left: 10px;
	}
}