.new-participant-panel {
	border-color: @darkAccent !important;
	margin-top: 20%;
	.panel-heading {
		background-color: @darkAccent !important;
		color: #FFFFFF !important;
	}
	.btn-default {
		background-color: @darkAccent !important;
		color: white;
	}
}