.user-instructions {
	color: @darkAccent;
	font-size: 14px;
	background-color: white;
    height: 500px;
    overflow-y: scroll;

}

.js-instructions-continue {
	background: @darkAccent;
	color: white;
}

.instructions-btn {
    background: transparent;
    margin-top: -20px !important;
    margin-right: -142px !important;
    height: 40px;
    font-size: 24px;
    width: 48px;
    border: none;
}