.user-instructions {
	color: #464646;
	font-size: 14px;
	background-color: white;


    padding-top: 20px;
    padding-bottom: 40px;

    @media only screen and (device-width: 768px) {
        overflow: hidden;
        height: 768px;
    }
    .continue-btn {
        width: 153px;
        height: 62px;
        font-size: 26px;
        font-weight: 500;
        background: #003087;
        color: white;

    }
    .js-begin-study-btn {
        width: 203px;
        font-weight: 500;
        margin-top: 39px;
    }
    .title {
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 24px;
        color: @darkAccent;
    }
    .sub-title {
        font-size: 20px;
    }
    .heading {
        color: @darkAccent;
    }
    p {
        margin-left: 20px;
    }
    .lg-text {
        font-size: 20px;
    }
    .standard-drink-img {
        height: 232px;
        width: 578px;
        background-image: url('../images/standardDrink.png');
        background-repeat: no-repeat;
        background-size: 529px;
        position: relative;
        bottom: 0;
        left: 24%;
        margin-top: 6px;

         @media only screen and (device-width: 1024px) {
            left: 24%
        }
    }

}



.js-instructions-continue {
	background: @darkAccent;
	color: white;
}

.instructions-btn {
    background: transparent;
    margin-top: -20px !important;
    margin-right: -142px !important;
    height: 40px;
    font-size: 24px;
    width: 48px;
    border: none;
}

.instructions-text {
    font-size: 18px;

}

.underline {
    text-decoration: underline;
}

